.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

body {
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 180%;
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Abril Fatface', sans-serif;
  font-size: 7vh;
  line-height: 130%;
  font-weight: 400;
}

h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Abril Fatface', sans-serif;
  font-size: 56px;
  line-height: 137%;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 26px;
  line-height: 130%;
  font-weight: 700;
}

h4 {
  margin-top: 0px;
  color: #b7b4b9;
  font-size: 14px;
  line-height: 110%;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

p {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 32px;
}

a {
  color: #000;
  font-weight: 700;
}

.hero {
  position: relative;
  display: block;
  min-height: 100vh;
  padding: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.container {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container.relative {
  position: relative;
}

.container.center {
  text-align: center;
}

.hero-paragraph {
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  text-align: center;
}

.button {
  min-width: 200px;
  margin-right: auto;
  margin-left: auto;
  padding: 11px 32px 12px;
  border-style: solid;
  border-width: 3px;
  border-color: #000;
  background-color: #fff;
  box-shadow: 0 0 0 3px #000;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.button.w--current {
  background-color: #fff;
  color: #000;
}

.button-border {
  display: inline-block;
  background-color: transparent;
  box-shadow: 0 0 0 3px #000;
  -webkit-transform: translate(11px, 11px);
  -ms-transform: translate(11px, 11px);
  transform: translate(11px, 11px);
}

.button-wrapper {
  display: block;
  width: 220px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.hero-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 22vh 60px 41vh;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #0d0e0d;
}

.highlight {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  overflow: hidden;
  height: 36%;
  margin-right: 4px;
  background-color: #ffe872;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.hero-heading {
  position: relative;
  display: inline;
  margin-right: 10px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.highlight-box {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-right: 10px;
}

.headline-wrap {
  max-width: 100vh;
  margin-right: auto;
  margin-bottom: 24px;
  margin-left: auto;
  text-align: center;
}

.navbar {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-top: 24px;
  margin-right: 24px;
  margin-left: 24px;
  padding-top: 32px;
  padding-right: 60px;
  padding-left: 60px;
  background-color: transparent;
}

.logo {
  font-family: Poppins, sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.nav-link {
  margin-left: 48px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.nav-link.yellow-link {
  padding-right: 0px;
  padding-left: 0px;
  box-shadow: none;
  color: #fff;
  font-weight: 500;
}

.nav-link.yellow-link:hover {
  box-shadow: 1px 1px 3px 0 #000;
}

.yellow-link {
  box-shadow: inset 0 -10px 0 0 rgba(255, 232, 114, 0.25);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

.yellow-link:hover {
  box-shadow: inset 0 -22px 0 0 #ffe872;
}

.yellow-link.test {
  box-shadow: inset 0 -10px 0 0 #ffe872;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}

.yellow-link.test:hover {
  box-shadow: inset 0 -28px 0 0 #ffe872;
}

.scroll-wrapper {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 10px;
  height: 0px;
  padding-right: 84px;
  padding-left: 84px;
  text-align: right;
}

.scroll-arrow {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: inline-block;
  width: 2px;
  height: 105px;
  background-color: #fff;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.scroll-text {
  position: absolute;
  left: 46px;
  top: 0%;
  right: auto;
  bottom: auto;
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  font-weight: 700;
  text-transform: uppercase;
}

.scroll-block {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: inline-block;
  overflow: hidden;
  width: 46px;
  height: 105px;
  color: #fff;
}

.section {
  margin-right: 24px;
  margin-left: 24px;
  padding: 60px;
}

.project {
  display: -ms-grid;
  display: grid;
  padding-top: 140px;
  padding-bottom: 140px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 14px;
  grid-template-areas: ". Area"
    ". Area";
  -ms-grid-columns: 1fr 60px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 14px auto;
  grid-template-rows: auto auto;
}

.left-column {
  max-width: 50%;
  min-width: 410px;
}

.mockup-column {
  position: relative;
  text-align: right;
}

.tags-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tag {
  margin-right: 16px;
  margin-bottom: 16px;
  padding: 6px 10px;
  background-color: #d7dbd5;
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
}

.dots {
  position: absolute;
  left: -24px;
  top: auto;
  right: auto;
  bottom: -24px;
}

.mockup-img {
  position: relative;
  z-index: 1;
}

.mockup-hover {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: -42px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  padding-top: 2px;
  padding-left: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mockup-hover-text {
  display: inline-block;
  margin-right: 12px;
  color: #b7b4b9;
  font-weight: 600;
  letter-spacing: 0.03em;
}

.heading-5 {
  color: #b7b4b9;
}

.mockup-arrow-wrapper {
  overflow: hidden;
}

.right-column {
  max-width: 544px;
  padding-top: 30px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.what-i-do {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.development-heading {
  margin-top: 80px;
}

.footer {
  margin-right: 24px;
  margin-left: 24px;
  padding: 50px 60px 24px;
  background-color: #000;
}

.want-to-work {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.copyright {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 14px;
}

.brand {
  color: #fff;
}

.brand.w--current {
  color: #fff;
}

.portfolio-paragraph {
  max-width: 480px;
}

.header-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 170px 60px 300px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #d7dbd5;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.header-paragraph {
  max-width: 736px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.screen-container {
  max-width: 928px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.screen-image {
  position: relative;
  top: -300px;
  margin-bottom: -220px;
  border-radius: 4px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.live-site-link {
  display: inline-block;
  margin-top: 20px;
  font-size: 18px;
}

._24px {
  height: 24px;
}

.page-padding {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 60px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #0d0e0d;
}

.container-large {
  width: 100%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.padding-vertical {
  padding-top: 60px;
  padding-bottom: 60px;
}

.project-wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  justify-items: stretch;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.latest-work-titol {
  color: #b7b4b9;
  line-height: 15.4px;
  letter-spacing: 2.8px;
}

.project-title {
  color: #fff;
  font-size: 56px;
  line-height: 72.8px;
  font-weight: 600;
}

.category-button {
  display: inline-block;
  width: 73px;
  height: 28px;
  margin-top: 20px;
  margin-right: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 2px;
  background-color: #fff;
}

.category-text {
  text-align: center;
}

.project-paragraph {
  width: 60%;
  margin: 80px auto 50px 0px;
  color: #fff;
}

.project-image {
  -o-object-fit: cover;
  object-fit: cover;
}

.blac-heading-text {
  position: relative;
  display: inline;
  margin-right: 10px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  color: #000;
  font-weight: 700;
  text-align: center;
}

.footer-paragraph {
  color: #fff;
}

.text-span {
  text-decoration: underline;
}

.project-navbar {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-top: 24px;
  margin-right: 24px;
  margin-left: 24px;
  padding-top: 32px;
  padding-right: 60px;
  padding-left: 60px;
  background-color: #0d0e0d;
}

.project-showcase {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: center;
}

.live-website-text {
  display: inline-block;
  margin-bottom: 50px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 5px;
  color: #fff;
}

.case-study {
  font-size: 17px;
  text-align: left;
}

.fs-radio_label {
  margin-bottom: 1rem;
}

.fs-radio_column {
  display: -ms-grid;
  display: grid;
  min-height: 3rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.fs-radio_field-1 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0rem;
  padding: 0.5rem 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  border-radius: 0.25rem;
  color: #000;
  font-weight: 500;
  cursor: pointer;
}

.fs-radio_field-1:hover {
  border-color: #696969;
  opacity: 1;
  color: #696969;
}

.fs-radio_field-1.is-active {
  border-color: #501aff;
  background-color: #501aff;
  color: #fff;
}

.fs-radio_icon-1 {
  position: relative;
  z-index: 1;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.fs-radio_button-1 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 0rem;
  margin-left: 0rem;
  border-style: none;
  border-radius: 0rem;
  box-shadow: 1px 1px 3px 0 transparent;
}

.fs-radio_button-1.w--redirected-focus {
  box-shadow: none;
}

.fs-radio_button-1.w--redirected-focus-visible {
  box-shadow: none;
  outline-color: #9b9b9b;
  outline-offset: 4px;
  outline-style: solid;
  outline-width: 2px;
}

.fs-radio_label-1 {
  position: relative;
  margin-bottom: 0rem;
  font-weight: 500;
}

.link-accent {
  position: absolute;
  left: auto;
  top: 14px;
  right: 14px;
  bottom: auto;
}

.navigation-link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 14px 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  color: #00104b;
  text-decoration: none;
}

.navigation-link:hover {
  background-color: #865ddb;
  color: #fff;
}

.menu-subtext {
  opacity: 0.5;
  font-size: 16px;
  line-height: 1.5;
}

.chevron {
  margin-right: 5px;
}

.dropdown-list {
  min-width: 140px;
}

.dropdown-list.w--open {
  left: -180px;
  min-width: 650px;
  padding-top: 39px;
  background-color: transparent;
}

.nav-menu-2 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
}

.navigation-grid {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.navigation-link-primary {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 16px;
  padding-left: 16px;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  color: #000;
  font-size: 15px;
  font-weight: 500;
}

.navigation-link-primary:hover {
  color: #865ddb;
}

.button-navigation {
  padding: 18px 20px;
  border-radius: 10px;
  background-color: #865ddb;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.menu-title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 600;
}

.navigation-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-image {
  width: 125px;
}

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  padding-right: 3%;
  padding-left: 3%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 38px 38px 74px 0 rgba(56, 50, 124, 0.06);
}

.navigation-arrow {
  position: absolute;
  left: 165px;
  top: -33px;
  right: auto;
  bottom: auto;
  z-index: 999;
  width: 120px;
}

.dropdown-base-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #f5f3fe;
  box-shadow: 8px 39px 65px -10px rgba(0, 0, 0, 0.1);
}

.dropdown-base-wrapper.w--open {
  left: -97px;
  max-height: 100vh;
  min-width: 300px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 50px 25px -50px rgba(32, 53, 90, 0.15), 8px 18px 60px 4px rgba(0, 0, 0, 0.13);
}

.navigation-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand-2 {
  margin-right: 60px;
}

.dropdown-link-base {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 40px 30px 30px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.dropdown-toggle {
  padding-right: 24px;
  padding-left: 12px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #000;
  font-size: 15px;
  font-weight: 500;
}

.dropdown-toggle:hover {
  color: #865ddb;
}

.dropdown {
  position: relative;
  margin-right: 5px;
  margin-left: 5px;
}

.checkbox-field {
  display: inline-block;
}

.checkbox-field-2 {
  display: inline-block;
}

.fs_radio-2_message {
  color: #9b9b9b;
}

.fs_radio-2_label {
  position: relative;
  margin-bottom: 0rem;
  font-weight: 500;
}

.fs_radio-2_button {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 0rem;
  margin-left: 0rem;
  border-style: none;
  border-radius: 0rem;
  box-shadow: 1px 1px 3px 0 transparent;
}

.fs_radio-2_button.w--redirected-focus {
  border-style: none;
  box-shadow: none;
}

.fs_radio-2_button.w--redirected-focus-visible {
  box-shadow: none;
  outline-color: #9b9b9b;
  outline-offset: 4px;
  outline-style: solid;
  outline-width: 2px;
}

.fs_radio-2_field {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 3rem;
  margin-bottom: 0rem;
  padding: 0.75rem 1.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f5f5;
  cursor: pointer;
}

.fs_radio-2_field:hover {
  border-color: #696969;
  color: #696969;
}

.fs_radio-2_field.is-active-inputactive {
  background-color: #1378d1;
  color: #fff;
}

.fs_radio-2_group {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.fs_radio-2_embed {
  margin-bottom: 0rem;
}

.fs_radio-2_component {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .hero-wrap {
    padding-right: 40px;
    padding-left: 40px;
  }

  .navbar {
    padding-right: 40px;
    padding-left: 40px;
  }

  .section {
    padding: 40px;
  }

  .project {
    padding-top: 70px;
    padding-bottom: 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-template-areas: ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .left-column {
    width: 100%;
    max-width: none;
    min-width: auto;
  }

  .mockup-column {
    width: 100%;
    margin-bottom: 60px;
    background-color: #d7dbd5;
    text-align: center;
  }

  .tag {
    margin-right: 8px;
    margin-bottom: 8px;
  }

  .mockup-hover {
    display: none;
  }

  .right-column {
    margin-bottom: 20px;
  }

  .what-i-do {
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer {
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .want-to-work {
    margin-bottom: 20vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header-wrapper {
    padding-right: 40px;
    padding-left: 40px;
  }

  .page-padding {
    padding-right: 40px;
    padding-left: 40px;
  }

  .project-paragraph {
    font-size: 17px;
  }

  .project-navbar {
    padding-right: 40px;
    padding-left: 40px;
  }

  .chevron {
    margin-right: 20px;
  }

  .dropdown-list.w--open {
    position: relative;
    left: auto;
    width: 100%;
    min-width: auto;
    padding-top: 0px;
  }

  .nav-menu-2 {
    position: absolute;
    top: 80px;
    height: auto;
    background-color: #fff;
  }

  .navigation-link-primary {
    width: 100%;
  }

  .navigation-container {
    position: relative;
    min-height: auto;
  }

  .navigation-arrow {
    display: none;
  }

  .menu-button-2 {
    margin-left: 14px;
    border: 1px solid #865ddb;
    border-radius: 10px;
    color: #865ddb;
  }

  .menu-button-2.w--open {
    background-color: #865ddb;
    color: #fff;
  }

  .dropdown-base-wrapper {
    border-radius: 0px;
    box-shadow: none;
  }

  .navigation-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .brand-2 {
    margin-right: 10px;
    padding: 0px;
  }

  .navigation-button-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .dropdown-link-base {
    padding: 20px;
  }

  .dropdown-toggle {
    width: 100%;
    padding-left: 16px;
  }

  .dropdown-toggle.w--open {
    width: 100%;
  }

  .dropdown {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 50px;
  }

  .hero-wrap {
    padding-top: 140px;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .headline-wrap {
    max-width: 100%;
  }

  .navbar {
    padding-right: 30px;
    padding-left: 30px;
  }

  .scroll-wrapper {
    display: none;
  }

  .section {
    padding: 30px;
  }

  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .development-heading {
    margin-top: 40px;
  }

  .footer {
    padding-right: 30px;
    padding-left: 30px;
  }

  .brand {
    padding-left: 0px;
  }

  .header-wrapper {
    padding-top: 140px;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .page-padding {
    padding-top: 140px;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .project-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .project-navbar {
    padding-right: 30px;
    padding-left: 30px;
  }

  .fs-radio_column {
    grid-auto-flow: row;
  }

  .button-navigation {
    display: none;
  }

  .navigation-menu {
    width: 100%;
  }

  .dropdown-link-base {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .fs_radio-2_group {
    grid-auto-flow: row;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 37px;
  }

  .hero {
    min-height: auto;
    padding: 16px;
  }

  .hero-paragraph {
    font-size: 17px;
  }

  .hero-wrap {
    padding-top: 120px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .hero-heading {
    margin-right: 8px;
    font-size: 33px;
  }

  .highlight-box {
    margin-right: 2px;
  }

  .headline-wrap {
    max-width: 300px;
  }

  .navbar {
    margin-top: 16px;
    margin-right: 16px;
    margin-left: 16px;
    padding-top: 24px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .nav-link.yellow-link {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 50%;
    text-align: right;
  }

  .section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .dots {
    left: -16px;
    bottom: -16px;
    width: 70px;
  }

  .menu-button {
    margin-top: -6px;
    margin-right: -8px;
    padding: 8px;
  }

  .menu-button.w--open {
    background-color: #b7b4b9;
  }

  .nav-menu {
    padding: 10px 20px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    background-color: #b7b4b9;
    text-align: right;
  }

  .header-wrapper {
    padding-top: 120px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .header {
    min-height: auto;
    padding: 16px;
  }

  .screen-image {
    margin-bottom: -260px;
  }

  .page-padding {
    padding-top: 120px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .padding-vertical {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .project-title {
    font-size: 42px;
  }

  .blac-heading-text {
    margin-right: 8px;
  }

  .project-navbar {
    margin-top: 16px;
    margin-right: 16px;
    margin-left: 16px;
    padding-top: 24px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .navigation-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .dropdown-link-base {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

#w-node-_7ef53e74-c799-89b7-5384-581b61ef76ce-6ed06b50 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8884996f-9b8f-d788-7a23-79df34ab0f5c-6ed06b50 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7009591d-4211-f0e4-3d2c-c2708c749a6a-6ed06b50 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7009591d-4211-f0e4-3d2c-c2708c749a7a-6ed06b50 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0377494e-0ca4-8a9e-0be7-00ec38ac281a-6ed06b50 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0377494e-0ca4-8a9e-0be7-00ec38ac2829-6ed06b50 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-bf7f87ed-5813-65e0-a664-9a072d515b81-6ed06b50 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-bf7f87ed-5813-65e0-a664-9a072d515b90-6ed06b50 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

